.superFancyBlockquote {
  color: #999;
  background: #fff;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  border-left: 2px solid #999;
  padding-left: 10px;
}
.align-left-text {
  display: flex !important;
  align-items: flex-start !important;
}

.align-right-text {
  display: flex !important;
  align-items: flex-end !important;
}
.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}
.align-justify {
  text-align: justify !important;
}
.align-center {
  text-align: center !important;
}
.codeBlock {
  font-family: fira-code, monospace;
  font-size: inherit;
  background: #ffeff0;
  font-style: italic;
  word-wrap: normal;
  word-wrap: break-word;
  box-decoration-break: slice;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
}

.leftAlign {
  display: flex;
  align-items: end;
}
.rightAlign {
  display: flex;
  align-items: start;
}
.centerAlign {
  text-align: center;
}
.justifyAlign {
  text-align: justify;
}
